#navbar{
    height: 50px;
    background-color: rgb(79, 90, 248);
    display: flex;
    flex-direction: row;
    padding-right: 7px;
    align-items: center;
    color: white;
    border-radius: 1px solid white;
    justify-content: center;
    border: 3px solid rgb(77, 79, 204);
    
    
    

}
nav div a { 
    /* O "a" seria a ancoragem, ou seja, o link no react  */
    color: white;
    text-decoration: none;
    font-size: 1.5rem; 
    margin-inline: 10px;
    transition-duration: 0.4s; 
    
}
nav div a:hover{
    color: rgb(124, 145, 165);
    font-size: 1.6rem;

}
#left-links{
    display: flex;
    flex-direction: row;
}
/* #right-links{
    display: flex;
    justify-content: flex-end;
    background-color: red;
} */
#infos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.space{
    display: flex;
    gap: 20px;
}